* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
}

.input {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.input input {
  padding: 5px 10px;
  border-radius: 5px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.div-valores {
  margin-bottom: 10px;
}
